@import models.users.User
@import helper._

@(addAircraftForm: Form[models.Aircraft], user: User)

@main("Add Aircraft", user){
    <h3>Add a new Plane</h3>

    @form(action = routes.AircraftController.addAircraftSubmit(), 'class -> "form-horizontal", 'role -> "form"){
        @inputText(addAircraftForm("aircraft_number"), '_label -> "Aircraft Number", 'class -> "form-control")
        @inputText(addAircraftForm("capacity"), '_label -> "Capacity", 'class -> "form-control")

        @inputText(addAircraftForm("aircraft_ID"), '_label -> "", 'hidden -> "hidden")

        <div class="actions">
            <input type="submit" value="Add Aircraft" class="btn btn-primary">
            <a href="@routes.AircraftController.aircrafts()">
                <button class="btn btn-warning">Cancel</button>
            </a>
        </div>
    }
}
